* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'SVN-Gilroy', sans-serif;
    font-weight: 300;
    background-color: #0578BD;
    background-repeat: no-repeat;
}

/* css dùng chung */
.main-content {
    max-width: 1340px;
    width: 100%;
    margin: auto;
}

a {
    text-decoration: none;
}

/* css header */
.header .body {
    padding-top: 70px;
    max-width: 1140px;
    width: 100%;
    margin: auto;
    display: flex;
}

.header .logo {
    color: #FFFAFA;
    text-align: center;
    font-size: 1.6rem;
    text-align: center;
}

.header .nav {
    margin-left: auto;
}

.header .nav ul {
    display: flex;
}

.header .nav a {
    color: #FFFCFC;
    font-size: 1.8rem;
    padding: 8px 25.5px;
}

/* css main */
/* __slogan */
.main .slogan .main-content .icon-tech {
    margin-top: 57px;
    margin-left: 32%;
}

.main .slogan .body {
    display: flex;
    margin-left: auto;
}

.main .slogan .icon-block {
    display: flex;
}

.main .slogan .text-block {
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-basis: 80%;
}

.main .slogan .text-block .text-slogan {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .slogan .text-block .left p {
    color: #FFF;
    font-size: 28.8rem;
    font-weight: 700;
}

.main .slogan .text-block .right p {
    margin-top: 11px;
    color: #FFF;
    font-size: 9.6rem;
}

.main .slogan .text-block .right p:not(:first-child) {
    color: #FFF;
    font-size: 16rem;
    font-weight: 700;
}

/* __action-contact */
.main .action-contact {
    float: right;
    margin-right: 15%;
    display: block;
}

.main .action-contact button {
    color: #037EE3;
    border: none;
    margin-bottom: 20px;
    font-size: 1.6rem;
    display: block;
    width: 195.983px;
    height: 49.16px;
    border-radius: 2px;
    background: #FFF;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.20);
}

.main .action-contact img {
    margin-left: 13%;
}

/* __intro */
.main .intro .icon {
    position: relative;
}

.main .intro .body {
    position: absolute;
    top: 75%;
    display: flex;
}

.main .intro .text-block {
    margin-left: 2%;
    margin-top: 5%;
}

.main .intro .text-block .read {
    width: 195.983px;
    height: 49.16px;
    border-radius: 2px;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.20);
    border: none;
    font-size: 1.6rem;
}

.main .intro .media-block img {
    margin-top: 20px;
    float: right;
}